*{ margin: 0; padding: 0; box-sizing: border-box;}

.container{ margin: 0 auto; width: 940px; }

h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

a {
    display: block;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #444;
}
